<!DOCTYPE html>
<html lang="en">
    <head></head>
    {{!-- 
<style>
    .c{
        background-color: inherit;
    }
</style> --}}
    <body>

        <div style="width: 100% !important;">
            <div style="min-width: 600px !important;max-width: 600px !important; height: 500px !important; margin: auto; padding:20px ;">
                <div style="width: 100%; height:80px;background:  #D0AE3D !important;">
                    <div style="height: 100%;display: flex;align-items: center !important;place-content: center !important;">
                   
                    <span style="color: white;font-size: 25px;font-weight: 600;align-self: center;margin: auto;"> 
                        <img
                        src="https://www.futxtrm.com/app/assets/images/logo.png"
                        alt="FutXtrm"
                        width="80px"
                        style="vertical-align: middle !important;"> 
                         </span>

                </div>
            </div>

            <br>
            <h1>Bienvenido al sistema de FutXtrm </h1>

            <p>
                Hola <span style="font-weight: 600;">{{nombre}}</span> <span style="font-weight: 600;">{{apellido}}</span>, Esta son tus credenciales para iniciar sesion
            </p>

            <p>
               Nombre de usuario : <span style="font-weight: 600;">{{usuario}}</span>
            </p>
            <p>
               Contraseña: <span style="font-weight: 600;">{{password}}</span>
            </p>
            <p>Es responsabilidad completa del usuario el modificar su clave de acceso</p>
          
           
            <div style="margin: auto;">
                <a style="font-size: 14px !important;text-decoration: none !important;width: 200px;margin: auto;text-align: center;font-weight: bold !important;padding: 8px 14px !important;display: block !important;background-color: inherit !important;border-radius: 2px !important;position: absolute;left: 0;right: 0;bottom: 10px;" href={{link}} >Ir al FutXtrm</a>

            </div>

        </div>
    </div>
</body>
</html>


